#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}
.timer{
  font-size: 3rem;
  
}
h1{
  font-size: 3rem;
  padding: 0;
  margin-bottom: 0;
  color: rgb(199, 14, 14);
}
.main{
  background-color: rgb(115, 177, 192);
  height: 270px;
  width: 480px;
  border-radius: 25px;
}
.btn{
  margin: 8px;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.start{
  background-color: rgb(21, 121, 21);
  color: aliceblue;
  margin: 2px;
}
.stop{
  background-color: rgb(235, 41, 41);
  color: aliceblue;
  margin: 2px;
}
.reset{
  background-color: rgb(24, 23, 23);
  color: aliceblue;
  margin: 2px;
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
